@font-face {
  font-family: 'Bungee';
  src: url('../../Bungee/Bungee-Regular.ttf');
}

.new-tweet {
  padding-right: 5%;
  padding-left: 5%;
  background-color: bisque;
  align-items: center;
  font-family: "Bungee";
  width: 100%;
}

.tweet-text {
  border-style: none;
  background-color: bisque;
}

.counter {
  display: flex;
  font-family: "Bungee";
}

.buttons {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-color: black;
  border-top-style: solid;
  font-family: "Bungee";
  display: flex;
  justify-content: space-between;
  
}

.enter {
  background-color: blue;
  color: white;
}

.tweet-container {
  border: 3px;
  border-color: black;
  border-style: solid;
  opacity: 95%;
  margin-bottom: 10px;
}

.tweet-container:hover {
  box-shadow: 10px 5px 3px grey;
  
}

.tweet-header {
  display: flex;
  flex-direction: row;
}

.tweet-username {
  display: flex;
  position: absolute;
  right: 10%;
}

#error-message {
  color: red;
  font-size: 23px;
}